@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 220 33% 98%;
    --foreground: 225 23% 10%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 225 23% 10%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0 0% 64%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --gradient-one: linear-gradient(132.77deg,
        #8200FF 25.97%,
        #FF075A 74.17%);
    --gradient-two: linear-gradient(132.77deg,
        #02008B 25.97%,
        #00FF80 74.17%);
    --gradient-three: linear-gradient(132.77deg,
        #FF045B 25.97%,
        #FF8728 74.17%);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}